
header{
    background-color: #ffeed9;
}
.main_title{
    display: inline-block;
}
header h1{
    font-size: 2.5em;
    font-weight: normal;

}
#logo, header h1{
 display: inline-block;
 margin-bottom: 0px;
}
/* header label {
    font-size: 1.3em;
    margin-top: 1px;
    font-weight: normal;

} */
nav {
    /* display: inline-block; */
    width: 100%;
    /* text-align: right; */
}
nav li {
    display: inline-block;
    margin-right:  20px;
}
nav a {
    font-size: 1.7em;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover{
    color: darkgray;
    background-color: wheat;
    border-bottom: solid 1px cornflowerblue;
}
.banner_img{

    background: url(blog-3.jpg);
    height: 250px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #ffeed9;
    position: relative;
    box-shadow: 0px 4px 4px solid darkgray;
    margin-bottom: 10px;


}
.banner_desc{
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 5px 5px ;
    width: 99%;
    height: 35px;
    background-color: rgb(24,24,24,24);
    color: aliceblue;
    padding-top:15px;
    padding-left:15px;
    

}
.button{
    display: inline-block;
    /* height: 0px; */
    position: absolute;
    right: 15px;
    bottom: 8px;
    /* background-color: red; */
    background: url(button.jpg);
    border-radius: 5px;
    border: solid 1px hsla(0, 100%, 27%, 0.747);
    text-align: center;
    padding: 5px 5px 5px 5px;
    color: aliceblue;
    text-decoration: none;

    


}
.button img{
    border: 0;

}
.button:hover{
    color: chartreuse;
}

article, aside{
    display: inline-block;
    vertical-align: top;
    text-align: justify;


}
article{
    width: 75%;
    margin-right: 15px;
    background-color: #ffeed9;

}
aside{
    position: relative;
    width: 20%;
    height:450px;
    background-color: #6d6c6c;
    box-shadow: 0px 2px 5px darkgray;
    border-radius: 7px;
    padding: 15px;
    font-size: 16px;
    color: aliceblue;

}
footer{
    padding-top:8px;

}
footer h1{
    font-size: 24px;
    color: aliceblue;

}
divfoot{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    padding-left: 10px;
    color: aliceblue;

}
body{
    background-color: #ffeed9;
}